<link href="/style/authentication/login.css" rel="stylesheet" type="text/css">
<link href="/style/buttons/mainButtons.css" rel="stylesheet" type="text/css">
<link href="/style/popup.css" rel="stylesheet" type="text/css">

<section class="login-section">
    <!-- App Logo -->
    <a href="#" class="logo-container">
        <img class="logo-image" src="img/BugSpray - Dark.png" alt="logo">
    </a>

    <!-- Content Section -->
    <div class="content-grid">
        <!-- Slogan Section -->
        <section class="slogan-section">
            <div class="slogan-content">
                <h1 class="slogan-title">Transform your development experience</h1>
                <p class="slogan-text">Where bugs meet their match, and teamwork takes the lead!</p>
            </div>
        </section>

        <!-- Login Form Section -->
        <div class="login-form-container">
            <div class="form-content">
                <h1 class="form-title">Log in to your account</h1>

                <!-- Login Form -->
                <form id="loginForm" class="login-form">

                    <!-- Username Field -->
                    <div class="form-field">
                        <input type="text" name="username" id="username" class="input-field" placeholder="Username" required>
                    </div>

                    <!-- Password Field -->
                    <div class="form-field">
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password" required>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="menu-button">Log in</button>
                    
                    <!-- Additional Info -->
                    <div class="additional-info">
                        <p class="info-text">Ready to start boosting productivity?</p>
                        <a href="./register" class="register-link">Sign up for an account</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Popup Section -->
        <div id="myPopup" class="popup">
            <%- include('../partials/popup'); %>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<% if(scripts) { %>
    <% scripts.forEach(function(script) { %>
        <script src="<%= script %>"></script>
    <% }); %>
<% } %>


