<section class="bg-gray-900 pb-10">
    <a href="#" class="flex justify-center my-6">
        <img class="w-40 mr-2" src="img/1.jpg" alt="logo">
    </a>
    <div class="grid grid-cols-1 md:grid-cols-2 px-6 py-8">
        <section class="hero">
            <div class="hero-content">
                <h1
                    class="mb-4 text-center lg:text-left text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    Transform your development experience</h1>
                <p
                    class="mb-8 text-center lg:text-left text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                    Where bugs meet their
                    match, and teamwork takes the lead!</p>
            </div>
        </section>
        <div class="w-auto bg-gray-800 border-gray-700 rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl text-center">
                    Sign in to your account
                </h1>
                <form class="space-y-4 md:space-y-6" action="/login" method="post">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-white">Your
                            username</label>
                        <input type="text" name="username" id="username"
                            class="border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                            placeholder="userName123" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-white">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                            class="border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                            required="">
                    </div>
                    <button type="submit"
                        class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 focus:ring-primary-800">Sign
                        in</button>
                    <div>
                        <p class="text-sm font-light text-gray-400">
                            Ready to start boosting productivity?
                        </p>
                        <a href="./register" class="font-medium text-blue-500 hover:underline">Sign
                            up
                            for an
                            account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>