<link href="/style/popup.css" rel="stylesheet" type="text/css">
<section class="pb-10 bg-palette-4">
    <!-- App's Logo -->
    <a href="#" class="flex justify-center my-6">
        <img class="w-40 mr-2" src="img/BugsprayDark.png" alt="logo">
    </a>

    <!-- Slogan -->
    <div class="grid grid-cols-1 px-6 py-8 md:grid-cols-2 md:gap-5">
        <section class="flex items-center">
            <div class="flex flex-col">
                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center text-white lg:text-left md:text-5xl lg:text-6xl">
                    Unleash the power of seamless collaboration</h1>
                <p
                    class="mb-8 text-lg font-normal text-center text-gray-500 lg:text-left lg:text-xl dark:text-gray-400">
                    Where every bug finds its fix seamlessly</p>
            </div>
        </section>

        <!-- Registration Form Title -->
        <div class="w-auto rounded-lg shadow-2xl bg-palette-3">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                <!-- Registration Link -->
                <h1 class="text-xl font-bold leading-tight tracking-tight text-center text-white md:text-2xl">
                    Register for an account
                </h1>

                <!-- Login Link -->
                <h2 class="leading-tight tracking-tight text-center text-white text-md">
                    Already have an account? <span><a class="text-yellow-100 hover:underline" href="/login">Log
                            in</a></span>
                </h2>

                <!-- Registration Form -->
                <form id="registerForm" class="space-y-3">

                    <!-- Username Field -->
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-white">Username</label>
                        <input type="text" name="username" id="username"
                            class="bg-palette-2 border border-gray-300 placeholder-grey-700 text-white invalid:text-red-500 sm:text-sm rounded-lg block w-full p-2.5"
                            placeholder="userName123" pattern="[a-zA-Z0-9]{8,15}" required>
                        <p class="pt-2 text-xs text-gray-400">Must be 8 to 15 characters</p>
                    </div>

                    <!-- Password Field -->
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" id="password" name="password"
                            class="bg-palette-2 border border-gray-300 rounded-lg placeholder-gray-400 text-white block w-full p-2.5"
                            required placeholder="••••••••"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,20}$" required>
                        <div class="pt-2 text-xs text-gray-400">
                            <ul>
                                <li>At least one upper case letter</li>
                                <li>At least one lower case letter</li>
                                <li>At least one digit</li>
                                <li>At least one special letter in this set "!@#$%^&*"</li>
                                <li>Must be 8 to 20 characters</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Name Field -->
                    <div id="name-field">
                        <div class="inputBox">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">Your
                                Name</label>
                            <input type="text"
                                class="bg-palette-2 border border-gray-300 placeholder-gray-400 text-white sm:text-sm rounded-lg block w-full p-2.5"
                                id="name" name="name" placeholder="John Doe" minlength="5">
                            <p class="pt-2 text-xs text-gray-400">Must be at least 5 characters</p>
                        </div>
                    </div>

                    <!-- Role Selector -->
                    <div>
                        <label for="role" class="block mb-2 text-sm font-medium text-white">Role</label>
                        <select class="bg-palette-2 border border-gray-300 text-white
                            sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                            w-full p-2.5" id="role" name="role" required>
                            <option value="" disabled selected>Choose your role</option>
                            <option value="Manager">Manager</option>
                            <option value="Developer">Developer</option>
                        </select>
                    </div>
                    <!-- Developer Type Selector -->
                    <div class="hidden developer-info role-info">
                        <label for="developerType" class="block mb-2 text-sm font-medium text-white">
                            What type of Developer are you?
                        </label>
                        <select class="bg-palette-2 border border-gray-300 text-white
                            sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                            w-full p-2.5" id="developerType" name="developerType" required>
                            <option value="" disabled selected>Choose your Developer Role</option>
                            <option value="Front-end">Front-end Developer</option>
                            <option value="Back-end ">Back-end Developer</option>
                            <option value="Full-stack">Full-stack Developer</option>
                            <option value="DevOps">DevOps Engineer</option>
                            <option value="Cloud">Cloud Architect</option>
                        </select>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit"
                        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-800 font-medium rounded-lg text-sm px-5 py-2.5 mt-5 text-center">Signup
                    </button>
                </form>
            </div>
        </div>
    </div>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<% if(scripts) { %>
    <% scripts.forEach(function(script) { %>
        <script src="<%= script %>"></script>
        <% }); %>
            <% } %>