<!-- Header Section -->
<div class="grid w-screen grid-cols-1 gap-6 mx-auto my-5 lg:grid-cols-3 justify-items-center lg:gap-10">
    <div class="col-span-1 lg:col-start-2">
        <h1 class="text-2xl font-bold text-palette-4 md:text-3xl">
            <%= title %>
        </h1>
    </div>
    <div class="col-span-1" id="addProjectModal">
        <div class="modal-button">
            <%- include('../partials/modals/addProject') %>
        </div>
    </div>
</div>

<!-- Project Cards Section -->
<section class="project-cards-section">
    <div
        class="grid items-center w-screen grid-cols-1 gap-6 px-6 mx-auto my-12 cards-grid lg:grid-cols-3 md:grid-cols-2 justify-items-center lg:gap-10 md:px-12 lg:px-24">
        <!-- Dynamically added project cards will appear here -->
    </div>
</section>