<!-- Header Section -->
<div class="grid grid-cols-1 lg:grid-cols-3 mx-auto w-screen justify-items-center my-5 gap-6 lg:gap-10">
    <div class="col-span-1 col-start-2">
        <h1 class="font-bold text-2xl text-palette-4 md:text-3xl">
            <%= title %>
        </h1>
    </div>
    <div class="col-span-1" id="addProjectModal">
        <div class="modal-button">
            <%- include('../partials/modals/addProject') %>
        </div>
    </div>
</div>

<!-- Project Cards Section -->
<section class="project-cards-section">
    <div class="cards-grid grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 w-screen items-center justify-items-center gap-6 lg:gap-10 px-6 md:px-12 lg:px-24 mx-auto my-12">
        <!-- Dynamically added project cards will appear here -->
    </div>

    <!-- Popup Section -->
    <div id="myPopup" class="popup">
        <%- include('../partials/popup'); %>
    </div>
</section>
