/* Footer */
.footer {
    padding: 1rem;
    background-color: var(--palette-primary);
    border-radius: 50px 50px 0 0;
}

/* Footer Container */
.footer-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer Logo */
.footer-logo {
    margin-bottom: 1.5rem;
    text-align: center;
}

.footer-logo img {
    width: 112px; 
}

/* Footer Links */
.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
}

.footer-link-section h2 {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--palette-text);
    text-transform: uppercase;
}

.footer-link-section ul {
    list-style: none;
    padding: 0;
    color: var(--palette-background); 
}

.footer-link-section ul li a {
    color: var(--palette-background);
    text-decoration: none;
}

.footer-link-section ul li a:hover {
    text-decoration: underline;
}

/* Footer Divider */
.footer-divider {
    border-color: white;
    margin: 1.5rem auto;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    color: var(--palette-text);
    font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        justify-content: space-between;
    }
}
