.hidden {
    display: none;
}

/* Navbar */
.navbar {
    position: relative;
    background-color: var(--palette-primary); /* bg-palette-3 */
    border-radius: 0 0 3xl 3xl;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;
}

/* Logo */
.navbar-logo img {
    height: 80px;
    object-fit: contain;
}

/* Navigation Links */
.navbar-links {
    display: none; /* Hidden on mobile */
}

.navbar-links .nav-link {
    color: var(--palette-text);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 8px;
}

.navbar-links .nav-link:hover {
    color: var(--palette-accent);
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    background-color: var(--palette-input);
    border: none;
    padding: 10px;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
}

.search-icon {
    background-color: var(--palette-accent); /* sky-700 */
    padding: 10px;
    border-radius: 0 0.5rem 0.5rem 0;
}

.user-icon {
    background: none;
    border: none;
    color: var(--palette-text);
    font-size: 1.5rem;
}

/* Media Query for Non-Mobile Screens */
@media screen and (min-width: 768px) { /* Adjust the width as per your design */
    .navbar-links {
        display: flex; /* Show navigation links on larger screens */
        align-items: center;
        gap: 8px; /* Adjust gap as needed */
    }
}

/* Mobile Menu Toggle */
.mobile-menu-toggle {
    background: none;
    border: none;
    color: var(--palette-text);
    font-size: 1.5rem;
    display: flex; /* Visible on mobile */
}

/* Mobile Menu */
.mobile-menu {
    display: none; 
    position: absolute; 
    top: calc(100% + 5px); 
    left: 0;
    width: 100%; 
    background-color: var(--palette-primary); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    border-radius: 0 0 10px 10px; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.mobile-menu.show {
    display: flex;
}

/* Style for mobile menu links */
.mobile-menu a {
    display: block;
    color: var(--palette-text);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center; /* Center text */
    width: 100%; /* Full width of the container */
}

.mobile-menu a:hover {
    background-color: var(--palette-accent); /* Highlight color on hover */
}

.mobile-menu .mobile-profile {
    padding: 10px 20px;
    color: var(--palette-text);
    text-align: center;
}

/* Hide mobile menu button on larger screens */
@media screen and (min-width: 768px) {
    .mobile-menu-toggle {
        display: none;
    }
}