<footer class="p-4 sm:p-6 bg-palette-3 rounded-t-3xl">
    <div class="mx-auto max-w-screen-xl">
        <div class="md:flex md:justify-between">
            <div class="mb-6 flex justify-center md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="/img/BugsprayDark.png" class="w-28 block" alt="1080P Logo">
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 md:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-bold uppercase text-white">Information</h2>
                    <ul class="text-gray-100">
                        <li class="mb-4">
                            <a href="/about" class="hover:underline">About Us</a>
                        </li>
                        <li>
                            <a href="/copyright" class="hover:underline">Copyright</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-bold uppercase text-white">Legal</h2>
                    <ul class="text-gray-100">
                        <li class="mb-4">
                            <a href="/privacy" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms" class="hover:underline">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 sm:mx-auto border-white lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-white sm:text-center">© 2023 BugSpray™. All
                Rights Reserved.
            </span>
        </div>
    </div>
</footer>