<div class="bg-sky-950 flex items-stretch justify-between h-[100px] pr-10 rounded-b-2xl max-md:flex-wrap max-md:pr-5">
  <div class="flex items-center gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">
    <a href="/"><img src="./img/Bugspray - Dark.png"
        class="aspect-[1.14] object-contain object-center h-[100px] overflow-hidden self-stretch shrink-0 max-w-full" /></a>
    <div class="text-sky-700 text-center text-xl font-semibold leading-10 my-auto">Dashboard</div>
    <div class="text-white text-center text-xl font-semibold leading-10 my-auto">Projects</div>
    <div class="text-white text-center text-xl font-semibold leading-10 my-auto">Bugs</div>
  </div>
  <div class="flex items-center gap-0 my-auto max-md:max-w-full max-md:flex-wrap max-md:justify-center">
    <div class="bg-white flex w-[268px] h-[40px] flex-col my-auto rounded-l-lg">
      <!-- Add your content for this part -->
    </div>
    <div
      class="bg-sky-700 aspect-[1.07] object-contain object-center w-[43px] overflow-hidden shrink-0 max-w-full my-auto rounded-r-lg">
      <i class="fa-solid fa-magnifying-glass fa-xl mt-5 ml-2 text-white"></i>
    </div>
    <div class="flex gap-3 ml-2">
      <div class="text-white"><i class="fa-regular fa-bell fa-2xl"></i></div>
      <div class="text-white"><i class="fa-regular fa-user fa-2xl"></i></div>
    </div>
  </div>
</div>