<link href="/style/nav + footer/nav.css" rel="stylesheet" type="text/css">

<nav class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
      <img src="./img/Bugspray - Dark.png" alt="Bugspray Logo" />
  </a>

  <!-- Navigation Links -->
  <div class="navbar-links">
      <a href="/project-dashboard" class="nav-link">Dashboard</a>
      <a href="#" class="nav-link">Projects</a>
      <a href="#" class="nav-link">Bugs</a>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search...">
      <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <button class="user-icon">
          <i class="fa-regular fa-user"></i>
      </button>
  </div>

  <!-- Mobile Menu Toggle -->
  <button id="mobileMenuToggle" class="mobile-menu-toggle">
      <i class="fa-solid fa-bars"></i>
  </button>

  <!-- Mobile Menu -->
  <div id="mobileMenu" class="mobile-menu">
      <a href="/project-dashboard" class="mobile-link">Dashboard</a>
      <a href="#" class="mobile-link">Projects</a>
      <a href="#" class="mobile-link">Bugs</a>
      <div class="mobile-profile">
          <i class="fa-regular fa-user"></i> Profile
      </div>
  </div>
</nav>
