<nav class="px-4 py-2 transition duration-300 border-gray-200 lg:px-6 bg-palette-3 rounded-b-3xl">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto space-x-4">
    <a href="/" class="flex items-center">
      <img src="./img/BugsprayDark.png" class="block w-32 mr-3" alt="Logo" />
    </a>
    <div class="flex items-center gap-3 lg:order-2">
      <a href="/profile"><i class="text-white fa-solid fa-user fa-2xl hover:text-gray-200"></i></a>
      <button data-collapse-toggle="mobile-menu-2" type="button"
        class="inline-flex items-center p-2 ml-1 text-sm text-gray-400 rounded-lg lg:hidden focus:outline-none focus:ring-2 hover:bg-palette-2 focus:ring-gray-600"
        aria-controls="mobile-menu-2" aria-expanded="false" id="navBarButton">
        <i class="fa-solid fa-bars fa-2x"></i>
      </button>
    </div>
    <div class="items-center justify-center flex-grow hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
      <ul class="flex flex-col mt-4 space-y-4 font-medium lg:flex-row lg:space-x-2 lg:space-y-0 lg:mt-0">
        <li>
          <a href="/"
            class="block px-2 py-2 rounded <%= activePage === 'summary' ? 'text-white bg-palette-2' : 'bg-transparent text-gray-400 hover:text-white' %>">SUMMARY</a>
        </li>
        <li>
          <a href="/projects"
            class="block px-2 py-2 rounded <%= activePage === 'projects' ? 'text-white bg-palette-2' : 'bg-transparent text-gray-400 hover:text-white' %>">PROJECTS</a>
        </li>
        <li>
          <a href="/bugs"
            class="block px-2 py-2 rounded <%= activePage === 'bugs' ? 'text-white bg-palette-2' : 'bg-transparent text-gray-400 hover:text-white' %>">BUGS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>