<div class="bg-sky-950 flex items-stretch justify-between h-[100px] pr-10 max-md:flex-wrap max-md:pr-5">
  <div class="flex items-start justify-start gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">
    <a href="/"><img src="./img/Bugspray - Dark.png"
        class="aspect-[1.14] object-contain object-center h-[100px] overflow-hidden self-stretch shrink-0 max-w-full" /></a>
    <div class="ml-[-18px] text-sky-700 text-center text-xl font-semibold leading-10 my-auto">Dashboard</div>
    <div class="text-white text-center text-xl font-semibold leading-10 my-auto">Projects</div>
    <div class="text-white text-center text-xl font-semibold leading-10 my-auto">Bugs</div>
  </div>
  <div
    class="self-center flex items-start justify-between gap-0 my-auto max-md:max-w-full max-md:flex-wrap max-md:justify-center">
    <div class="bg-white self-center flex w-[268px] shrink-0 h-[40px] flex-col my-auto rounded-[50px_0px_0px_50px]">
    </div>
    <div
      class="bg-sky-700 aspect-[1.07] object-contain object-center w-[43px] overflow-hidden self-center shrink-0 max-w-full my-auto rounded-[0px_50px_50px_0px]">
      <img src="./img/search-13-32.png" class="mx-auto mt-2 w-[24px]">
    </div>
    <img src="./img/bell-2-32.png" class="px-3 mt-1">
    <img src="./img/user (1).png" class="mt-[2px] w-[36px] h-[36px]">
  </div>
</div>