<nav class="bg-palette-3 rounded-b-3xl flex flex-wrap items-center justify-between h-[100px] px-5 md:px-10 relative"
  id="navbar">
  <!-- Logo -->
  <a href="/" class="shrink-0">
    <img src="./img/Bugspray - Dark.png" class="h-[80px] md:h-[100px] object-contain" />
  </a>

  <!-- Navigation Links (Visible on medium and larger screens) -->
  <div class="hidden md:flex items-center gap-8">
    <a href="/project-dashboard" class="text-white text-lg font-semibold hover:text-sky-700">Dashboard</a>
    <a href="#" class="text-white text-lg font-semibold hover:text-sky-700">Projects</a>
    <a href="#" class="text-white text-lg font-semibold hover:text-sky-700">Bugs</a>
  </div>

  <!-- Search Bar (Always Visible) -->
  <div class="flex items-center gap-0 my-auto">
    <div class="bg-white flex w-[268px] h-[40px] flex-col my-auto rounded-l-xl">
      <input type="text" class="pl-4 pr-2 py-2 w-full focus:outline-none rounded-l-xl" placeholder="Search...">
    </div>
    <div
      class="bg-sky-700 aspect-[1.07] object-contain object-center w-[43px] h-[40px] overflow-hidden shrink-0 my-auto rounded-r-xl">
      <i class="fa-solid fa-magnifying-glass fa-xl mt-5 ml-2 text-white"></i>
    </div>
    <div class="hidden md:flex text-center text-white text-lg font-semibold px-3 ">
      <button>
        <i class="fa-regular fa-user fa-xl"></i>
      </button>
    </div>
  </div>


  <!-- Dropdown Toggle Button (Visible on smaller screens) -->
  <button id="mobileMenuButton" class="md:hidden flex text-white px-3 py-2 rounded-md text-lg font-medium">
    <i class="fa-solid fa-bars fa-xl"></i>
  </button>

  <!-- Dropdown Menu (Visible only on smaller screens) -->
  <div id="mobileMenu" class="absolute top-full left-0 w-full bg-palette-3 z-20 shadow-md md:hidden">
    <a href="/project-dashboard" class="block text-center text-white text-lg font-semibold py-2 hover:bg-sky-800 border-b border-white">Dashboard</a>
    <a href="#" class="block text-center text-white text-lg font-semibold py-2 hover:bg-sky-800 border-b border-white">Projects</a>
    <a href="#" class="block text-center text-white text-lg font-semibold py-2 hover:bg-sky-800 border-b border-white">Bugs</a>
    <div class="text-center text-white text-lg font-semibold py-2 hover:bg-sky-800">
      <i class="fa-regular fa-user"></i> Profile
    </div>
  </div>
</nav>
