<link href="/style/popup.css" rel="stylesheet" type="text/css">
<!-- Modal content -->
<div class="rounded-xl popup-content min-width">
    <span id="close" class="close">&times;</span>
    <h2 id="popupTitle" class="mb-3 text-xl font-bold text-center"></h2>
    <p id="popBody" class="text-lg text-center"></p>
</div>