<link href="/style/popup.css" rel="stylesheet" type="text/css">
<!-- Modal content -->
<div class="popup-content">
    <span id="close" class="close">&times;</span>
    <h2 id="popupTitle"></h2>
    <p id="popBody"></p>
</div>