/* Profile Container */
.profile-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    margin-top: 1.25rem;
}

/* Profile Card */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    background-color: #334155; /* Adjust as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-align: center;
}

.profile-title {
    margin-bottom: 1rem;
    font-size: 1.875rem;
    font-weight: bold;
    color: white;
}

/* Form Fields */
.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 384px; /* Adjust as needed */
}

.field-label {
    font-weight: bold;
    color: white;
    text-align: left;
    width: 40%;
}

.text-input, .select-input {
    width: 60%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    background-color: #566573;
    color: white;
}

.submit-button {
    padding: 0.625rem 1.25rem;
    color: white;
    background-color: #1E90FF;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
