<html lang="en">

<head>
  <%- include ('./partials/head') %>
    <title>
      <%= title %>
    </title>
    <link href="/style/color palette/color.css" rel="stylesheet">
</head>

<body class="bg-palette-4">
  <!-- Pass bodyFile as filename -->
  <%- include(bodyFile) %>
    <!-- <script src="/scripts/auth.js"></script> -->
</body>

</html>