<html lang="en">

<head>
  <base href="/">
  <%- include ('./partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body class="bg-palette-4">
  <!-- Pass bodyFile as filename -->
  <%- include(bodyFile) %>

  <!-- Popup Control Script -->
  <script src="/scripts/utils/popupScript.js"></script>

  <!-- Close Modal Script -->
  <script src="/scripts/utils/closeModal.js"></script>

  <!-- Axios Import Script -->
  <!-- Run all scripts -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <% if(scripts) { %>
      <% scripts.forEach(function(script) { %>
          <script src="<%= script %>"></script>
      <% }); %>
  <% } %>

</body>

</html>