<div class="flex-auto">
    <div class="flex flex-col">
        <div class="min-h-screen bg-blue-50">
            <div class="grid gap-10 lg:grid-cols-3 sm:grid-cols-2 p-4">
                <div class="flex items-center bg-white rounded shadow-sm justify-between p-5">
                    <div>
                        <div class="text-sm text-gray-400">Total Tickets</div>
                        <div class="text-3xl font-medium text-gray-600">
                            34
                        </div>
                    </div>
                    <div class="bg-blue-700 rounded-full w-[32px] h-[32px] ml-2">
                        <div class="text-white mt-[15px] ml-[5px]">
                            <i class="fa-solid fa-bug fa-lg"></i>                           
                        </div>
                    </div> 
                </div>
                <div class="flex items-center bg-white rounded shadow-sm justify-between p-5">
                    <div>
                        <div class="text-sm text-gray-400">Open Tickets</div>
                        <div class="text-3xl font-medium text-gray-600">
                            34
                        </div>
                    </div>
                    <div class="bg-blue-700 rounded-full w-[32px] h-[32px] ml-2">
                        <div class="text-white mt-[15px] ml-[6px]">
                            <i class="fa-solid fa-screwdriver-wrench fa-lg"></i>                                                            
                        </div>
                    </div> 
                </div>
                <div class="flex items-center bg-white rounded shadow-sm justify-between p-5">
                    <div>
                        <div class="text-sm text-gray-400">Closed Tickets</div>
                        <div class="text-3xl font-medium text-gray-600">
                            34
                        </div>
                    </div>
                    <div class="bg-blue-700 rounded-full w-[32px] h-[32px] ml-2">
                        <div class="text-white mt-[15px] ml-[6px]">
                          <i class="fa-solid fa-check fa-lg"></i>                                                            
                        </div>
                    </div> 
                </div>
                <!-- Another grid starts here -->
                
            </div>
            <div class="mt-4 grid lg:grid-cols-3 md:grid-cols-3 p-4 gap-3">
                <div class="col-span-2 bg-white p-8 flex-col rounded shadow-sm">
                    <b class="flex flex-row text-gray-500">Tickets Opened By Month</b>
                    <canvas id="chartLine" class="p-5"></canvas>
                </div>

                <div class="flex flex-col p-8 bg-white rounded shadow-sm">
                    <b class="flex flex-row text-gray-500">Tickets By Severity</b>
                    <canvas class="p-5" id="chartPie"></canvas>
                </div>
            </div>
            <div class="p-4 font-bold text-gray-600">Clients</div>
          <div class="grid  lg:grid-cols-1  md:grid-cols-1 p-4 gap-3">
            <div class="col-span-2 flex flex-auto items-center justify-between  p-5 bg-white rounded shadow-sm">
              <table class="min-w-full divide-y divide-gray-200 table-auto">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Name
                    </th>
                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Title
                    </th>
                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Status
                    </th>
                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Role
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                          <img class="h-10 w-10 rounded-full"
                            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
                            alt="">
                        </div>
                        <div class="ml-4">
                          <div class="text-sm font-medium text-gray-900">
                            Jane Cooper
                          </div>
                          <div class="text-sm text-gray-500">
                            jane.cooper@example.com
                          </div>
                        </div>
                      </div>
                    </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Admin
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full"
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
                        alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Jane Cooper
                      </div>
                      <div class="text-sm text-gray-500">
                        jane.cooper@example.com
                      </div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  Admin
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>