<section class="flex items-center justify-center">
    <div class="
    flex flex-col items-center justify-center 
    ">
        <h1 class="text-center font-bold text-3xl my-4">My Profile</h1>
        <div class="flex flex-col gap-5">
            <div class="flex flex-row w-96">
                <div class="w-2/5">
                    <p class="font-bold">Username</p>
                </div>
                <div class="w-3/5">
                    <p>VNOsST6170</p>
                </div>
            </div>
            <div class="flex flex-row w-96">
                <div class="w-2/5">
                    <p class="font-bold">Your Name</p>
                </div>
                <div class="w-3/5">
                    <p>Sam Ton</p>
                </div>
            </div>
            <div class="flex flex-row w-96">
                <div class="w-2/5">
                    <p class="font-bold">Type</p>
                </div>
                <div class="w-3/5">
                    <p>Developer</p>
                </div>
            </div>
            <div class="flex flex-row w-96">
                <div class="w-2/5">
                    <p class="font-bold">Role</p>
                </div>
                <div class="w-3/5">
                    <p>Front-end Devloper</p>
                </div>
            </div>
        </div>
    </div>

</section>