<!-- Style Sheet -->
<link href="/style/summary.css" rel="stylesheet" type="text/css">

<div class="flex-auto">
  <div class="flex flex-col">
    <div class="min-h-screen bg-blue-50">
      <!-- Grid for Bug Statistics -->
      <div class="grid gap-10 p-4 lg:grid-cols-3 sm:grid-cols-2">
        <!-- Bug Stat Card (Total Bugs) -->
        <div class="bug-stat-card">
          <div class="bug-stat-content">
            <div class="bug-stat-label">Total Bugs</div>
            <div class="bug-stat-number">34</div>
          </div>
          <div class="bug-stat-icon bg-blue-700">
            <i class="fa-solid fa-bug fa-lg text-white"></i>
          </div>
        </div>
        
        <!-- Bug Stat Card (Open Bugs) -->
        <div class="bug-stat-card">
          <div class="bug-stat-content">
            <div class="bug-stat-label">Open Bugs</div>
            <div class="bug-stat-number">34</div>
          </div>
          <div class="bug-stat-icon bg-blue-700">
            <i class="fa-solid fa-screwdriver-wrench fa-lg text-white"></i>
          </div>
        </div>
        
        <!-- Bug Stat Card (Done Bugs) -->
        <div class="bug-stat-card">
          <div class="bug-stat-content">
            <div class="bug-stat-label">Done Bugs</div>
            <div class="bug-stat-number">34</div>
          </div>
          <div class="bug-stat-icon bg-blue-700">
            <i class="fa-solid fa-check fa-lg text-white"></i>
          </div>
        </div>
      </div>
      
      <!-- Grid for Bug Charts -->
      <div class="grid gap-3 p-4 mt-4 lg:grid-cols-3 md:grid-cols-3">
        <!-- Chart (Total Bugs Reported) -->
        <div class="bug-chart-card col-span-2">
          <b class="chart-title">Total Bugs Reported</b>
          <canvas id="chartLine" class="chart-canvas"></canvas>
        </div>
        
        <!-- Chart (Bugs By Severity) -->
        <div class="bug-chart-card">
          <b class="chart-title">Bugs By Severity</b>
          <canvas id="chartPie" class="chart-canvas"></canvas>
        </div>
      </div>
      
      <!-- Grid for Recently Solved Bugs and Bugs By Priority -->
      <div class="grid gap-3 p-4 mt-4 lg:grid-cols-3 md:grid-cols-3">
        <!-- Chart (Recently Solved Bugs) -->
        <div class="bug-chart-card col-span-2">
          <b class="chart-title">Recently Solved Bugs</b>
          <canvas id="chartLine" class="chart-canvas"></canvas>
        </div>
        
        <!-- Chart (Bugs By Priority) -->
        <div class="bug-chart-card">
          <b class="chart-title">Bugs By Priority</b>
          <canvas id="chartPie" class="chart-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
