<link href="/style/users/profile.css" rel="stylesheet" type="text/css">

<section class="profile-container">
    <div class="profile-card">
        <h1 class="profile-title">My Profile</h1>
        <form action="">
            <div class="form-fields">
                <div class="form-field">
                    <label for="username" class="field-label">Username</label>
                    <input type="text" name="username" id="username" class="text-input" placeholder="userName123" pattern="[a-zA-Z0-9]{8,15}" required value="VNOsST6170">
                </div>

                <div class="form-field">
                    <label for="name" class="field-label">Your Name</label>
                    <input type="text" class="text-input" id="name" name="name" placeholder="John Doe" minlength="5" value="Sam Ton">
                </div>

                <div class="form-field">
                    <label for="role" class="field-label">Role</label>
                    <input type="text" class="text-input" id="role" name="role" value="Developer" disabled>
                </div>

                <div class="form-field">
                    <label for="developerType" class="field-label">Type</label>
                    <select class="select-input" id="developerType" name="developerType" required>
                        <option value="Front-end" selected>Front-end Developer</option>
                        <option value="Back-end">Back-end Developer</option>
                        <option value="Full-stack">Full-stack Developer</option>
                        <option value="DevOps">DevOps Engineer</option>
                        <option value="Cloud">Cloud Architect</option>
                    </select>
                </div>

                <button type="submit" class="submit-button">Save changes</button>
            </div>
        </form>
    </div>
</section>
