<section class="flex flex-col items-center justify-center">
    <div
        class="flex flex-col items-center justify-center p-10 mx-auto my-10 text-white shadow-xl bg-palette-3 rounded-3xl">
        <h1 class="my-4 text-3xl font-bold text-center">My Profile</h1>
        <form id="profileForm">
            <div class="flex flex-col gap-5">
                <div id="usernameContainer" class="flex flex-col md:flex-row md:w-96">
                    <div class="w-2/5">
                        <label for="username" class="block mb-2 font-bold text-white text-md">Username</label>
                    </div>
                    <div class="md:w-3/5">
                        <input type="text" name="username" id="username"
                            class="bg-palette-2 border border-gray-300 placeholder-grey-700 text-white invalid:text-red-500 sm:text-sm rounded-lg block w-full p-2.5"
                            placeholder="userName123" pattern="[a-zA-Z0-9]{8,15}" required>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row md:w-96">
                    <div class="w-2/5">
                        <label for="name" class="block mb-2 font-bold text-white text-md">Your
                            Name</label>
                    </div>
                    <div class="md:w-3/5">
                        <input type="text"
                            class="bg-palette-2 border border-gray-300 placeholder-gray-400 text-white sm:text-sm rounded-lg block w-full p-2.5"
                            id="name" name="name" placeholder="John Doe" minlength="5">
                    </div>
                </div>
                <div id="roleContainer" class="flex flex-col md:flex-row md:w-96">
                    <div class="w-2/5">
                        <label for="role" class="block mb-2 font-bold text-white text-md">Role</label>
                    </div>
                    <div class="md:w-3/5">
                        <input type="text"
                            class="bg-palette-2 border border-gray-300 font-bold text-gray-300 sm:text-sm rounded-lg block w-full p-2.5"
                            id="role" name="role" value="Developer" disabled>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row md:w-96">
                    <div class="w-2/5">
                        <label for="developerType" class="block mb-2 text-sm font-bold text-white">
                            Type
                        </label>
                    </div>
                    <div class="md:w-3/5">
                        <select class="bg-palette-2 border border-gray-300 text-white
                    sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                    w-full p-2.5" id="developerType" name="developerType" required>
                            <option value="Front-end" selected>Front-end Developer</option>
                            <option value="Back-end">Back-end Developer</option>
                            <option value="Full-stack">Full-stack Developer</option>
                            <option value="DevOps">DevOps Engineer</option>
                            <option value="Cloud">Cloud Architect</option>
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <button type="submit"
                        class="text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 px-5 py-2.5">Save
                        changes</button>
                    <button
                        class="focus:outline-none text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:ring-red-300 font-medium text-center rounded-lg text-sm px-5 py-2.5 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-red-900"
                        id="logout">Logout</button>
                </div>

            </div>
        </form>
    </div>
    </div>
</section>