<div class="flex justify-center pt-5 pb-10 mt-5">
  <div class="w-5/6 h-full py-10 border-2 border-[#082f49] rounded-lg">
    <div class="flex justify-between">
      <div class="flex gap-2">
        <i class="mt-4 ml-5 fa-solid fa-bug fa-xl"></i>
        <h1 class="text-xl pt-[1px] font-light" id="name">Bug Name</h1>
      </div>

      <button class="hover:bg-slate-300 transition-colors rounded-lg w-[32px] mr-[28px]">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>

    <div class="grid grid-cols-2 gap-4 pt-3">
      <div class="ml-5">
        <h1 class="text-xl font-semibold">Description</h1>
        <div class="px-4 mt-3 border-2 rounded-lg border-slate-300">

          <div id="text" class="px-2 py-5 overflow-x-auto overscroll-auto h-96">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="mr-7">
        <div class="pb-4">
          <select id="status" action="" class="px-4 py-2 rounded-lg">
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </div>

        <div class="px-4 mt-2 border-2 rounded-lg border-slate-300">
          <h1 class="pt-5 text-xl font-semibold">Details</h1>
          <div class="pt-3 pb-5">
            <div class="flex pb-5">
              <h1 class="w-1/2">Reporter</h1>
              <a href="" id="r-name">Name</a>
            </div>
            <div class="flex pb-5">
              <h1 class="w-1/2">Assignee</h1>
              <a href="" id="r-name">Name</a>
            </div>
            <div class="flex">
              <h1 class="w-1/2">Date reported</h1>
              <h1 id="date">Date</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>