<h2 class="my-4 text-3xl font-bold text-center md:text-4xl md:my-8">
    <%= title %>
</h2>
<section class="flex flex-col w-full gap-10 pb-10 my-5 content lg:flex-row px-7">
    <aside
        class="left-0 w-full p-5 rounded-lg bg-palette-3 md:max-lg:block lg:block lg:sticky top-10 h-5/6 lg:w-1/4 md:max-lg:center-and-half">
        <h2 class="mb-4 text-xl font-bold text-center text-white">Sort/Filter</h2>

        <form action="" method="get" id="sortingForm">
            <!-- Sort Priority and Severity -->
            <div class="mb-4">
                <h3 class="mb-2 text-lg font-bold text-gray-200">Sort</h3>
                <div class="grid grid-cols-2 gap-2">
                    <div class="col-span-1">
                        <div class="flex items-center justify-between mb-2">
                            <span class="font-semibold text-white">Category</span>
                        </div>
                        <select name="sortField" id="sortField"
                            class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                            <option value="" selected disabled>Choose category</option>
                            <option value="priority">Priority</option>
                            <option value="severity">Severity</option>
                        </select>
                    </div>
                    <div class="col-span-1">
                        <div class="flex items-center justify-between mb-2">
                            <span class="font-semibold text-white">Order</span>
                        </div>
                        <select name="sortOrder" id="sortOrder"
                            class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                            <option value="" selected disabled>Choose order</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h3 class="mb-2 text-lg font-bold text-gray-200">Filter</h3>
                <div class="">
                    <div class="flex items-center justify-between mb-2">
                        <span class="font-semibold text-white">Status</span>
                    </div>
                    <select name="status" id="status"
                        class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                        <option value="" selected disabled>Choose status</option>
                        <option value="Open">Open</option>
                        <option value="To-do">To-do</option>
                        <option value="Resolved">Resolved</option>
                        <option value="In-Review">In-Review</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
                <div class="mt-2">
                    <div class="flex items-center justify-between mb-2">
                        <span class="font-semibold text-white">Bugs</span>
                    </div>
                    <select name="displayBugs" id="displayBugs"
                        class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                        <option value="all" selected>All Bugs</option>
                        <option id="assigned" value="assigned">Assigned Bugs</option>
                    </select>
                </div>
            </div>
            <!-- Apply and Clear Buttons -->
            <button type="submit"
                class="w-full py-2 mt-4 font-bold text-white transition duration-300 rounded-lg shadow-sm bg-palette-2 hover:brightness-110 hover:scale-105">Apply</button>
            <button type="button" onclick="clearForm()"
                class="w-full py-2 mt-2 font-bold text-white transition duration-300 bg-red-500 rounded-lg shadow-sm hover:brightness-110 hover:scale-105">Clear</button>
        </form>
    </aside>
    <div class="flex flex-col justify-center w-full lg:w-3/4">
        <section
            class="grid items-center grid-cols-1 gap-10 mx-auto mb-5  bug-grid md:grid-cols-2 lg:grid-cols-3 justify-items-center md:max-w-2xl lg:max-w-full lg:mx-0">
        </section>
    </div>
</section>