<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col w-full text-center mb-11">
      <h1 class="text-2xl font-medium tracking-widest text-gray-900 title-font">OUR TEAM</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>

      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>

      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>

      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>

      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>

      <div class="p-4 lg:w-1/2">
        <div class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0" src="https://dummyimage.com/200x200">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Holden Caulfield</h2>
            <h3 class="mb-3 text-gray-500">UI Developer</h3>
            <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>