<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col w-full text-center mb-11">
      <h1 class="text-2xl font-medium tracking-widest text-gray-900 title-font">OUR TEAM</h1>
    </div>
    <div class="grid grid-cols-2">
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/giabao.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Nguyen Vinh Gia Bao</h2>
            <h3 class="mb-3 text-gray-500">Front-end Dev</h3>
            <p class="mb-4">UI Design. Proficient in Figma and Photoshop (big if true)</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/luan.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Ton That Huu Luan</h2>
            <h3 class="mb-3 text-gray-500">Front-end Lead</h3>
            <p class="mb-4">Lead of Front-end Team. Rounded corners everywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/hiep.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Hoang Hua Hiep</h2>
            <h3 class="mb-3 text-gray-500">Front-end Dev</h3>
            <p class="mb-4">Academic victim of 4 courses a semester</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/lebao.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Le Viet Bao</h2>
            <h3 class="mb-3 text-gray-500">Back-end Lead</h3>
            <p class="mb-4">Lead of Back-end Team. Teaches lil kids how to use MongoDB.</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/hoang.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">To Bao Minh Hoang</h2>
            <h3 class="mb-3 text-gray-500">Back-end Dev</h3>
            <p class="mb-4">Nothing. Me? Just hangin' around</p>
          </div>
        </div>
      </div>
      <div class="col-span-2 p-4 md:col-span-1">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/nhu.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Nguyen Hoang To Nhu</h2>
            <h3 class="mb-3 text-gray-500">Back-end & Deployment Dev</h3>
            <p class="mb-4">Serves up APIs like a chef. Where's my strawberry KitKat lil bro?</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center col-span-2 p-4">
        <div
          class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left">
          <img alt="team" class="flex-shrink-0 object-cover object-center mb-4 rounded-lg w-28 h-28 sm:mb-0"
            src="/img/binh.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="mt-2 text-lg font-medium text-gray-900 title-font">Ngo Chi Binh</h2>
            <h3 class="mb-3 text-gray-500">Integration Developer & Tester</h3>
            <p class="mb-4">Still writes vanilla CSS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>