<section class="container flex flex-col max-w-4xl gap-5 p-4 mx-auto my-4 text-white bg-palette-3 rounded-3xl">
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold text-center">Terms and Conditions</h1>
        <p class="mt-2 text-center md:text-left">
            Welcome to BugSpray. These Terms and Conditions govern your use of our website and services. By accessing or
            using our website and services, you agree to comply with and be bound by these Terms. Please read them
            carefully.
        </p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold text-center">Acceptance of Terms</h1>
        <p class="mt-2 text-center md:text-left">
            By using our website and services, you agree to be legally bound by these Terms. If you do not agree with
            these Terms, please do not use our website or services.
        </p>
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center">Privacy</h1>
        <p class="mt-2 text-center md:text-left">
            Your use of our website and services is also governed by our Privacy Policy, which can be found
            <a href="/privacy">here</a>. By using our website and services, you consent to the practices
            outlined in our Privacy Policy.
        </p>
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center">User Accounts</h1>
        <p class="mt-2 text-center md:text-left">
            To access certain features of our website and report bugs, you may need to create a user account. You are
            responsible for maintaining the confidentiality of your account information, including your username and
            password. You agree to notify us immediately of any unauthorized use of your account.
        </p>
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center">Products and Pricing</h1>
        <p class="mt-2 text-center md:text-left">
            BugSpray offers a bug tracking and reporting service. While we strive for accuracy, we do not guarantee that
            all bugs will be detected or resolved.
        </p>
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center">User Conduct</h1>
        <p class="mt-2 text-center md:text-left">
            You agree to use BugSpray in a manner that is lawful and complies with these Terms. You are prohibited from
            engaging in any conduct that may:
        </p>
        <ul class="mt-2 text-center md:text-left md:list-disc md:pl-5">
            <li>Violate any applicable laws or regulations.</li>
            <li>Infringe upon the rights of others.</li>
            <li>Interfere with or disrupt the operation of BugSpray.</li>
            <li>Transmit or post harmful or malicious content.</li>
        </ul>
    </div>
    <div>
        <h1 class="text-3xl font-bold text-center">Contact Us</h1>
        <p class="mt-2 text-center md:text-left">
            If you have any questions, concerns, or requests regarding your privacy or these Terms and Conditions,
            please
            contact us at:
            <a href="https://github.com/lactosenham/COSC2634-BugSpray-BE" class="font-bold">BugSpray</a>
        </p>
    </div>
</section>